language: node_js
node_js:
  - '0.10'
before_install:
  - currentfolder=${PWD##*/}
  - if [ "$currentfolder" != 'generator-mis' ]; then cd .. && eval "mv $currentfolder generator-mis" && cd generator-mis; fi

