<div class="starter-template">
    <h1>Bootstrap starter template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    <div class="search-wrapper">
        <h1>{{info}}</h1><% if(viewName=='view1'){ %>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-sm-3">
                    <div class="input-group">
                        <div class="input-group-btn" style="width:100px;">
                            <select class="form-control" name="" id="" ng-model="searchType">
                                <option value="1">用户名</option>
                                <option value="2">用户ID</option>
                            </select>
                        </div>
                        <input class="form-control" id="startTime" type="text" ng-model="user_name" >
                    </div>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-primary" ng-click="search()">查询</button>
                </div>
            </div>
        </form>
    </div>
    <table class="table list-table">
        <thead>
            <td>#</td>
            <td>用户名</td>
            <td>积分</td>
            <td>会员</td>
            <td>操作</td>
        </thead>
        <tbody>
            <tr ng-repeat="item in dummyData">
                <td>{{item.id}}</td>
                <td>{{item.user_name|truncate:15}}</td>
                <td>{{item.score}}</td>
                <td>{{item.membership|isMembership}}</td>
                <td>
                   <div class="btn-group" role="group" aria-label="...">
                      <button type="button" class="btn btn-default" ng-click="detail(item.id)">详情</button>
                      <button type="button" class="btn btn-primary" ng-click="edit(item.id)">修改</button>
                      <button type="button" class="btn btn-danger" ng-click="remove(item.id)">删除</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-right">
        <pagination total-items="dataSource.page.data_total" page="dataSource.page.page_num" max-size="8" items-per-page="dataSource.page.page_size" boundary-links="true" rotate="false" on-select-page="changePage(page)" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
        last-text="&raquo;">
        </pagination>
    </div><% } %>
</div>